@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Satoshi";
    src: url("../fonts/Satoshi-Variable.woff2") format("woff2"),
        url("../fonts/Satoshi-Variable.woff") format("woff"),
        url("../fonts/Satoshi-Variable.ttf") format("truetype");
    font-weight: 300 900;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Satoshi-Italic";
    src: url("../fonts/Satoshi-VariableItalic.woff2") format("woff2"),
        url("../fonts/Satoshi-VariableItalic.woff") format("woff"),
        url("../fonts/Satoshi-VariableItalic.ttf") format("truetype");
    font-weight: 300 900;
    font-display: swap;
    font-style: italic;
}

@layer base {
    html {
        font-family: "Satoshi", system-ui, sans-serif;
        @apply bg-primary text-dark-1;
    }
}

@layer utilities {
    .flex-column {
        @apply flex flex-col;
    }
}

@layer components {
    .h1 {
        @apply text-4xl md:text-5xl font-bold;
    }
    .h2 {
        @apply text-xl md:text-2xl font-bold;
    }
    .paragraph {
        @apply text-sm md:text-base text-slate-700;
    }
    .button {
        @apply min-h-[46px] min-w-[40px] font-medium text-sm md:text-base rounded-md px-5 py-2.5 transition-colors disabled:opacity-30 disabled:hover:bg-transparent disabled:hover:text-current disabled:text-slate-800 flex items-center justify-center;
    }
    .btn-primary {
        @apply text-white bg-secondary-1 hover:bg-secondary-2;
    }
    .btn-secondary {
        @apply border-[1px] border-gray-300 text-gray-500 hover:text-secondary-2 hover:bg-secondary-1 hover:bg-opacity-5 transition-all;
    }
    .container {
        @apply px-4;
    }
}
