@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Satoshi";
    src: url("../fonts/Satoshi-Variable.woff2") format("woff2"),
        url("../fonts/Satoshi-Variable.woff") format("woff"),
        url("../fonts/Satoshi-Variable.ttf") format("truetype");
    font-weight: 300 900;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Satoshi-Italic";
    src: url("../fonts/Satoshi-VariableItalic.woff2") format("woff2"),
        url("../fonts/Satoshi-VariableItalic.woff") format("woff"),
        url("../fonts/Satoshi-VariableItalic.ttf") format("truetype");
    font-weight: 300 900;
    font-display: swap;
    font-style: italic;
}

@layer base {
    html {
        font-family: "Satoshi", system-ui, sans-serif;
        @apply bg-primary text-dark-1;
    }
}

@layer utilities {
    .flex-column {
        @apply flex flex-col;
    }
}

@layer components {
    .h1 {
        @apply text-2xl md:text-5xl font-bold;
    }
    .h2 {
        @apply text-xl md:text-2xl font-bold;
    }
    .paragraph {
        @apply text-sm md:text-base;
    }
}
